@import '../../styles';

.wrapper {
  background-color: $color-background;
  width: 100%;
  min-height: 100vh;
  padding: 40px 60px 40px 40px;

  .upperLevel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pageHeader {
      font-family: $typography-primary-extra-light-font-family;
      font-size: $typography-subtitle-font-size;
      font-weight: $typography-title-font-weight;
      color: $color-black-text;
    }

    .addPersonButton {
      border: none;
      margin: 0;
      font-family: $typography-secondary-extra-light-font-family;
      font-size: $typography-secondary-font-size;
      border-radius: 4px;
      box-shadow: 0 3px 1px -2px $color-box-shadow-1,
        0 2px 2px $color-box-shadow-3, 0 1px 5px $color-box-shadow-2;
      padding: 12px 16px;

      :hover {
        border: 10px solid $color-green;
      }
    }
  }

  .navigateItem {
    width: 100%;
    background-color: $color-gray-extra-light;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;

    .calendarButtons {
      display: flex;

      .minus {
        padding: 5px;
        margin: 0;
        border: 0;
        background-color: $color-background;
        color: $color-secondary;
        border-radius: 4px;
        margin-right: 5px;
      }

      .buttonItem {
        padding: 5px;
        margin: 0;
        border: 0;
        background-color: $color-background;
        color: $color-secondary;
        font-family: $typography-tertiary-ubuntu-regular-font-family;
        font-size: $typography-secondary-font-size;
        display: flex;
        align-items: center;
        border-radius: 4px;
        margin-right: 5px;
        height: max-content;
        width: max-content;
      }

      .arrowLeft {
        padding: 5px;
        margin: 0;
        border: 0;
        background-color: $color-background;
        color: $color-secondary;
        border-radius: 4px;
        margin-right: 5px;
      }

      .arrowRight {
        padding: 5px;
        margin-right: 5px;
        border: 0;
        background-color: $color-background;
        color: $color-secondary;
        border-radius: 4px;
      }
    }
  }

  .headers {
    display: flex;
    height: 56px;
    width: 100%;
    align-items: center;
    border-top-right-radius: 5px;
    background-color: $color-gray-extra-light;
    border: 1px solid $color-gray-4;

    :nth-last-child(1) {
      border: none;
    }

    .members {
      width: 20vw;
      padding-top: 4px;
      display: flex;
      justify-content: center;
      color: $color-gray-2;
      font-family: $typography-accent-font-weight;
      font-size: $typography-secondary-regular-font-family;
    }
  }
}
